- if appointments.present?
  %h5= t('profile.show.open_appointments')
  - @facade.opened_appointments.each do |appointment|
    .card.mb-3
      .card-body.d-flex.justify-content-between.align-items-center
        %div
          %span.card-text
            = t('profile.show.request')
            = appointment.request
        %span.text-muted.ms-auto
          = appointment.reference(current_user)
      - if doctor_signed_in?
        = form_for appointment, url: update_appointment_profile_path(appointment), method: :put do |f|
          %div.d-flex.justify-content-between.mb-3.mx-2
            = f.text_field :recommendation, value: appointment.recommendation, class: 'form-control', style: 'width: 80%'
            = f.submit t('profile.show.update_button'), class: 'btn btn-outline-success', style: 'width: 20%'