= current_user.name
%br
= current_user.phone

- if @facade.opened_appointments.present?
  %h5 Open Appointments
  - @facade.opened_appointments.each do |appointment|
    Request:
    = appointment.request
    %br
    - if doctor_signed_in?
      = form_for appointment, url: profile_update_appointment_path(current_doctor, appointment), method: :put do |f|
        = f.text_field :recommendation, value: appointment.recommendation
        = f.submit 'Update Recommendation'

- if @facade.closed_appointments.present?
  %h5 Closed Appointments
  - @facade.closed_appointments.each do |appointment|
    Request:
    = appointment.request
    %br
    Recommendation:
    = appointment.recommendation
    %br