- if doctor_signed_in?
  = t('hello_doctor')
  = current_doctor.name

- if patient_signed_in?
  = t('hello_patient')
  = current_patient.name

= render 'doctors/category', category: @facade.categories

.row.row-cols-1.row-cols-md-2.row-cols-lg-3
  - @facade.doctors.decorate.each do |doctor|
    .col.mx-auto
      .card.text-center.mb-3.border-secondary
        = link_to doctor_path(doctor) do
          %h5.card-title
            = doctor.category.speciality if doctor.category.present?
            %span.badge.rounded-pill.bg-success
              = doctor.employment
          - if doctor.avatar.attached?
            = image_tag( doctor.avatar, height: '250pt' )
          - else
            = image_tag( 'NoAvatarImg.png', height: '250pt' )
          %p.card-text
            = doctor.name
