.card-title.d-flex.justify-content-between
  %div
    %h5
      = @facade.doctor_name
    %br/
    = @facade.doctor_category.speciality
    %br/
    - if user_signed_in?
      %br/
      - if @facade.busy
        Sorry doctor busy
      - else
        = render 'shared/modal', doctor: @facade.doctor, appointment: @facade.appointment
  %div
    - if @facade.doctor_avatar.attached?
      = image_tag @facade.doctor_avatar, width: "250pt"
    - else
      = image_tag("NoAvatarImg.png", option = {height: "250pt"})
= link_to 'back', root_path